###############################
# Python
###############################

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


###############################
# Mac specifics
###############################
.DS_Store

###############################
# Testing
###############################
DELETEME.vcf

